* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 62.5%;
  background-color:  #ffffff;
  font-family: 'PT Sans Caption', sans-serif;
}
/**main**/
.main {
  display: flex;
  flex-direction: column;
  width: 100vw;  
  justify-content: space-between;
  align-items: center;
  background: #ffffff;  
  height: calc(100vh - 100px);
}
.logo_container {
  display:flex;
  width: 100vw;
  height: 26px;
  max-width: 400px;
  padding: 0 50px;
  justify-content: space-between;
  margin-top: 60px;
}
.logo {
  width: 162px;
  height: 100%;
}
.icon_ok {
  width: 26px;
  height: 26px;
}
.perfil_container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 60vh;
  background: #D8D9DA;
  border-radius: 200px 200px 0 0;
  justify-content: space-between;
}
.imagen_perfil_container {  
  display: flex;
  margin: 0 auto;
  width: max-content;
  height: max-content;
}
.img_perfil {
  position: absolute;
  top: -150px;
  right: calc(50vw - 127px);
  justify-content: center;
  display: flex;
  height: max-content;
  align-items: center;  
  margin: 0 auto;
}
.icon_edit {
  position: absolute;
  top: -120px;
  right: calc(50vw - 100px);
}
.formulario_container {
  width: 100vw;
  max-width: 100vw;
  height: max-content;
  justify-content: center;
  margin: 0;
  display: flex;
  margin-bottom: 150px;
}
.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  width: 100%;  
  max-width: 400px;
}
.formulario label {
  display: flex;
  align-self: flex-start;
  margin-top: 20px;
  padding: 2px 50px;
  font-weight: 900;
  color: #293770;
  font-size: 1rem;
}
.formulario input {
  width: 80%;
  height: 26px;
  padding: 0 10px;
  border-radius: 5px;
  max-width: 400px;
  border: 1px solid transparent;
}
.formulario input::placeholder {
  color: #8F8F8F;
  font-size: bold;
}
/****Footer***/
.footer {  
  position: relative;
  display: flex;  
  height: 100px;
  align-items: center;
  background: #FFFFFF;
  justify-content: center;
}
.footer_container {   
  display: flex; 
  width: 320px;
  max-width: 400px; 
  justify-content: space-between;
  padding: 20px 0;
}
.footer_punto {
  position: absolute;
  top: 37px;
  left: calc(50vw + 153px);
  width: 5.5px;
  height: 5.5px;
  border-radius: 50%;
  background: red;
}