* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 62.5%;
  background-color:  #ffffff;
  font-family: 'Poppins', sans-serif;
}
/**Header**/
.header {
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  align-items: center;
  width: 100vw;
  height: 221px;
  background: rgba(41, 55, 112, 1);  
  border-radius: 0 0 50px 50px;
}
.header_container {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: max-content;
  justify-content: center;
  text-align: center;  
  margin: 40px auto 30px auto;
}
.header_container img {
  width: 230px;
  height: 36px;  
}
.header_container p {
  width: 230px;
  height: 52px;  
  padding: 20px 20px 0 20px;
  font-size: 0.8rem;
  line-height: 21px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1); 
}
.btn_header_container {
  display: flex;
  justify-content: space-between;  
  width: 300px;
  height: 50px;
  margin: 0 auto 10px auto;
}
.btn_header_container button {
  width: 74px;
  height: 30px;
  margin: 10px 0;
  border-radius: 10px;
  color: #FFFFFF;
  background: transparent;
  border: transparent;
}
.btn_header_container button:nth-child(1) {
  background: linear-gradient(rgba(248, 187, 2, 1) , rgba(237, 126, 38, 1));
}
/**Main**/
.main {
  display: flex;
  flex-direction: column;
  width: 393px;
  height: calc(100vh - 321px);   
  margin: 0 auto; 
  overflow: scroll;
}
.main h2 {  
  margin: 20px;
  text-align: start;
  color: rgba(66, 66, 66, 1);
}
.card4_container {
  display: flex;  
  width: 393px;
  height: max-content;  
}
.card4 {  
  width: 172px;
  height: 156px;
  background: rgba(226, 226, 226, 1);
  margin: 10px auto;
  border-radius: 10px;
  line-height: 21px; 
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25); 
}
.card4 h3 {
  display: flex;
  align-items: center;
  width: 172px;
  height: 35px;
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 2px;     
}
.card4_title_naranja {
  background: rgba(232, 99, 54, 1);
}
.card4_title_amarillo {
  background: rgba(246, 175, 9, 1);
}
.card4_title_verde {
  background: rgba(137, 195, 63, 1);
}
.card4 p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 172px;
  height: 121px;
  font-size: 0.8rem;
  padding: 20px;  
  color: rgba(66, 66, 66, 1);
}
/****Footer***/
.footer {  
  position: relative;
  display: flex;  
  height: 100px;
  align-items: center;
  background: #FFFFFF;
  justify-content: center;
}
.footer_container {   
  display: flex; 
  width: 320px;
  max-width: 400px; 
  justify-content: space-between;
  padding: 20px 0;
}
.footer_punto {
  position: absolute;
  top: 37px;
  left: calc(50vw + 153px);
  width: 5.5px;
  height: 5.5px;
  border-radius: 50%;
  background: red;
}